.login-page{
    max-width: 500px;
    border: 2px solid #40b072;
    border-radius: 5px;
    padding: 30px;
    margin: 50px auto;
}
.login-page h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #555;
}
.login-page form input,
.login-page form button{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 5px;
    outline: #40b072;
    border: 1px solid #40b072;
    border-radius: 8px;
    font-weight: 800;
}
.login-page form button:hover {
    border: 2px #40b072 solid;
    background-color: #FFF0FA;
    color: #40b072;
}
.login-page form .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-page form button{
    width: 150px;
    background: #40b072;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.login-page form a{
    color: #40b072;
    border: 2px solid #40b072;
    border-radius: 8px;
    font-weight: 700;
    padding: 6px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}
.login-page form a:hover{
    background-color: #40b072;
    color: #F8FFFE;
}