.hizmetlertext {
    font-size: 34px !important;
    font-weight: 100 !important;
    color: gray;
    font-family: Mulish !important;
}

.hzmtcard {
    min-height: 268px;
    text-align: center;
    border-radius: 0 !important;
    box-shadow: none !important;
    border: 2px solid #ececed;
}

.text1 {
    font-size: 20px !important;
    color: #5c5c5c !important;
    font-family: Mulish !important;
}

.text2 {
    font-size: 15px !important;
    color: #5c5c5c;
    font-family: Mulish !important;
}