.detail{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    font-size: 150%;
}
.detail img{
    max-width: 400px;
    width: 100%;
    margin: 20px;
    height: 450px;
    object-fit: cover;
    display: block;
}
.box-detail{
    max-width: 500px;
    width: 100%;
    margin: 5px 20px;
}
.box-detail span{
    font-size: larger;
    font-weight: bold;
}
.box-detail .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-detail h2{
    text-transform: capitalize;
    color: rgb(139, 28, 0);
    font-weight: 2rem;
}
.box-detail p{
    line-height: 1.5;
    margin: 15px 0;
    opacity: 0.8;
    font-weight: 500;
}
.box-detail .cart{
    background: #333;
    color: white;
    margin-top: 10px;
    padding: 10px 25px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    text-transform: capitalize;
}
.box-detail .cart:hover {
    background-color: #40b072;
}