* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signupModalRegisterForm {
    margin-top: 12px !important;
    width: 100% !important;
    height: 52px !important;
}

.signupModalFormMiddleText {
    margin-top: 15px !important;
    width: 100% !important;
    padding-left: 49% !important;
    padding-right: 50% !important;
    font-size: 12px !important;
    line-height: 15px !important;
    color: #bababa !important;
    font-family: Inter;
}

.signupModalLinkedinForm {
    margin-top: 15px !important;
    width: 100% !important;
    height: 52px !important;
}

.registerLinkedin {
    max-width: 429px !important;
    height: 52px !important;
    border-radius: 6px !important;
    font-family: Mulish !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    color: #000000 !important;
    border: 1px solid #a9a9a9 !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08) !important;
    justify-content: left !important;
    padding-left: 12% !important;
}

.signupModalDesc {
    margin-top: 25px !important;
    font-size: 16px !important;
    line-height: 18px !important;
    color: #202020 !important;
    min-width: 240px !important;
    font-family: Mulish !important;
}

.signupModalHeader {
    font-weight: bold !important;
    font-size: 23px !important;
    line-height: 27px !important;
    color: #000000 !important;
    min-width: 240px !important;
    font-family: Mulish !important;
}

.registerAccount {
    height: 52px !important;
    background: linear-gradient(90deg, #40b072 64%, #62b048 100%) !important;
    border-radius: 6px !important;
    text-align: center !important;
    font-family: Mulish !important;
    font-weight: bold !important;
    font-size: 16px !important;
    line-height: 20px !important;
    color: #ffffff !important;
    font-family: Mulish !important;
}

.signupModalRadio {
    width: 100% !important;
    font-size: 16px !important;
    line-height: 19px !important;
    color: #696f79 !important;
    font-family: Mulish !important;
}

.signupModalInputBase {
    height: 48px !important;
    padding: 5% !important;
    border-radius: 6px !important;
    border: 1px solid #8692a6 !important;
    margin-top: 8px !important;
    font-size: 14px !important;
    line-height: 17px !important;
    color: #8692a6 !important;
    font-family: Mulish !important;
}

.signupModalInputHead {
    font-size: 16px !important;
    line-height: 19px !important;
    color: #696f79 !important;
    
    font-family: Mulish !important;
}

.signupModalInput {
    height: 94px !important;
    width: 100% !important;
    justify-content: center !important;
    font-family: Mulish !important;
}

.ForgotPasswordText {
    font-size: 16px;
    line-height: 19px;
    font-family: Mulish;
    text-transform: capitalize;
    color: #696f79;
    font-weight: 500;
}
.loginCard {
    max-width: 375px;
    min-height: 530px;
    border-radius: 30px;
    border: 1px solid #a9a9a9;
    text-align: center;
    margin-top: 100px;
}
.registerCard {
    max-width: 375px;
    min-height: 530px;
    border-radius: 30px;
    text-align: center;
    border: 1px solid #a9a9a9;
    margin-top: 50px;
}
.navbar2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
}
.navbar2 a {
    text-decoration: none;
    color: inherit;
}
.logo2 {
    margin-right: 50px;
}
.list2 {
    list-style: none;
    display: flex;
    gap: 25px;
}
#toggler,
.navbar2 label{
    display: none;
}
@media screen and
(max-width:600px) {
    .menu2{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list2 {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navbar2 label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #toggler:checked ~ .menu2{
        max-height: 100%;
    }
}